#graph{
    border: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}

.container_control {
    width: 38%;
}

.button {
    color: #f0d543;
    background: #68aeba;
    transition: color .2s linear;
    display: inline-block;
    vertical-align: top;
    border: 2px solid #c7b7c7;
    margin-top: 2%;
    padding: 35px 30px;
    font-size: 28px;
    width: 49%;
    border-radius: 20px;
    font-family: Courier, serif;
}

.button:hover {
    color: coral;
}

.next_step {
    background: coral;
    color: firebrick;
}

.next_step:active {
    background: #f0d543;
}

.next_step:hover {
    color: #68aeba;
}

.display {
    background: white;
    width: 90%;
    color: firebrick;
}


.input_container {
    display: flex;
    justify-content: space-around;

}

.input {
    border: 2px solid #c7b7c7;
    padding: 10px 30px;
    width: 40%;
    margin-inline: 1%;
    border-radius: 10px;
    font-size: 15px;
    font-family: Courier, serif;
}

.input:hover {
    border: 2px solid #68aeba;
}






