body {
    margin: 0;

}

.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

#graph {
    border: none;
    width: 65%;
    height: 100%;
    margin: 0;
}

.control-container {
    width: 35%;
}

.row-container {
    display: flex;
    width: 100%;
}

.item {
    font-size: 27px;
    font-family: Courier, serif;
    width: 50%;

    transition: color 0.2s linear;
    border: 2px solid #c7b7c7;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 35px 30px;
    margin: 5px;
}

button {
    color: #f0d543;
    background: #68aeba;
}

button:hover {
    color: coral;
}

.input {
    border: 2px solid #c7b7c7;
    border-radius: 10px;
    box-sizing: border-box;

    padding: 10px 30px;
    width: 50%;
    margin: 5px;

    font-size: 15px;
    font-family: Courier, serif;
}

.input:hover {
    border: 2px solid #68aeba;
}

.next-step {
    background: coral;
    color: firebrick;
}

.next-step:active {
    background: #f0d543;
}

.next-step:hover {
    color: #68aeba;
}

#step-display {
    background: white;
    color: firebrick;
}

.reset-bnt {
    color: firebrick;;
    background: rgba(199, 183, 199, 0.27);
}

.warning {
    font-family: Courier, serif;
    box-sizing: border-box;
    padding: 2px 30px;
    margin: 5px;
    color: firebrick;
}